@media(max-width:1100px) {
  #bottomToolbarDock {
    gap: 6px;
    right: 8px;
    bottom: 30px;
    max-width: calc(100% - 16px)
  }

  #objectQuickToolbar {
    gap: 1px;
    padding: 4px
  }

  #objectQuickToolbar button {
    width: 34px;
    height: 36px;
    min-height: 36px;
    flex-basis: 34px;
    font-size: 17px
  }

  #viewportControls {
    gap: 3px;
    padding: 4px
  }

  #viewportControls button {
    padding: 0 6px
  }

  #zoomSlider {
    max-width: 65px !important
  }
}

@media(max-width:900px) {
  #sidebar {
    width: 310px;
    flex-basis: 310px
  }

  .add-grid {
    grid-template-columns: 1fr
  }
}